body{
 transition: 700ms;
 margin: 0px;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}


.body{
    background-color: rgb(255, 255, 255);
    transition:700ms;
    
}

.newBody{
  background-color: rgb(155, 155, 155);
}

#start{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
} 

#forTreePic{
    margin-top: 75px;
    width: 530px;
    height: 500px;
    display: flex;
    background-image: url(../images/treee.png);
}
#familyMain{
    width: 1024px;
    display: flex;
    flex-wrap: wrap;

    
  }

#headP{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
}
p{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(20, 44, 85);

}
/* 
отрисовка семейного дерева */


#kid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#kidPic{
    max-width: 450px;
    object-fit: cover;
    border-radius: 30px;
    border:10px solid white; 
    transition: 200ms;

}

#kidPic:hover{
    max-width: 460px;
    object-fit: cover;
    border-radius: 30px;
    border: 5px solid white; 
    transition: 200ms;


}

#parents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 3px;
}


#momPic,#dadPic{
    max-width: 350px;
    border-radius: 30px;
    object-fit: cover;
    border:10px solid white;
    transition: 200ms;
    margin: 3px 3px;
}
#momPic:hover,#dadPic:hover{
    max-width: 360px;
    border-radius: 30px;
    object-fit: cover;
    border: 5px solid white;
    transition: 200ms;
    margin: 3px 3px;
}

#grandParents{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px 3px;
}
#gm1Pic,#gm2Pic,#gp1Pic,#gp2Pic{
    max-width: 220px;
    border-radius: 30px;
    object-fit: cover;
    border:10px solid white;
    transition: 200ms;
    margin: 3px 3px;

}
#gm1Pic:hover,#gm2Pic:hover,#gp1Pic:hover,#gp2Pic:hover{
    max-width: 230px;
    border-radius: 30px;
    object-fit: cover;
    border:5px solid white;
    transition: 200ms;
    margin: 3px 3px;

}
#parentPicContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0px 3px;
}

.picContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}






footer{
    
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    color: rgb(155, 155, 155);
    background-color: white;
    margin-top: 70px;
    z-index: 3;
    transition: 300ms;

}
footer:hover{
    font-size: 27px;
    color: rgb(78, 78, 78);
}

/* 
отрисовка персональной карточки  */

.openCard{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 650px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    left: 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border: 10px solid white;
    z-index: 5;
}

.closeButtonDiv{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    

}
.xButtonSpan{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 23px;
    font-family: 'Comfortaa', cursive;
    right: 10px;
    top: 10px;
    transition: 200ms;
}
.xButtonSpan:hover{
    font-size: 27px;
}

.divForCardContent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divForPhotoAndSwitchers{
    width: 450px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.divForPhoto{
    
    width: 450px;
    height: 500px;
    border-radius: 15px;
    background-size: 100%
}

.divForShortDescription{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
}

.personNameP{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
}

.shortDescriptionP{
  width: 100%;
  font-size: 20px;
  
  font-family: 'Comfortaa', cursive;

}

.divForSwitchers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin-top: 100px;

    
}

.switchersP{
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 30px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px white solid;
    box-shadow: 0 0px 6px 0 rgb(32 33 36 / 28%);
    margin: 5px;
    transition:200ms
    

}
.switchersP:hover{
    box-shadow: 0 0px 2px 0 rgb(32 33 36 / 28%);
}


a{
    text-decoration: none;
    color: darkgray;
}




@media screen and (max-width: 1091px){

    #kid{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    #kidPic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        object-fit: cover;
        border-radius: 20px;
        border:10px solid white; 
        transition: 200ms;
    
    }
    #kidPic:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        object-fit: cover;
        border-radius: 20px;
        border:10px solid white; 
        transition: 200ms;
    
    }
    
    #parents{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px 3px;
    }
    
    
    #momPic,#dadPic{
        max-width: 45%;
        border-radius: 20px;
        object-fit: cover;
        border:10px solid white;
        transition: 200ms;
        margin: 3px 3px;
    }
    #momPic:hover,#dadPic:hover{
        max-width: 45%;
        border-radius: 20px;
        object-fit: cover;
        border:10px solid white;
        transition: 200ms;
        margin: 3px 3px;
    }

   
    
    #grandParents{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px 3px;
        
    }
    #gm1Pic,#gm2Pic,#gp1Pic,#gp2Pic{
        width: 90%;
        border-radius: 20px;
        object-fit: cover;
        border:10px solid white;
        transition: 200ms;
        margin: 3px 3px;
    
    }

    #gm1Pic:hover,#gm2Pic:hover,#gp1Pic:hover,#gp2Pic:hover{
        width: 90%;
        border-radius: 20px;
        object-fit: cover;
        border:10px solid white;
        transition: 200ms;
        margin: 3px 3px;
    
    }
   
   

      
    #start{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px 0px;
        
    } 
    
    #forTreePic{
        
        max-width: none;
        
        display: flex;
        background-image: url(../images/treee.png);
        background-position: center;
    }

    #headP{
        margin: 0px;
        font-family: 'Comfortaa', cursive;
        width: 80%;
        text-align: center;
        font-size: 30px;
    }

    

   

    .openCard{
        max-width: none;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        
        position: -webkit-sticky;
        position: sticky;
        top: 7px;
        left: 10px;
        box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        border: 10px solid white;
        z-index: 5;
        flex-wrap: wrap;
    }

    .divForPhotoAndSwitchers{
        max-width: 95%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .divForPhoto{
        max-width: 90%;
        
        height: fit-content;
        border-radius: 15px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .divForCardContent{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }




    

}





